<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 81.9 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=e8f8debb0db60cec2c74467fc27bcf5c000eff8777fd8490b2efac71affe9f1a
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [50]:
%reload_ext sql

In [51]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [52]:
!pip install -q pandas==1.1.5

In [53]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [54]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [37]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [38]:
# Execute the SQL query
cur.execute('SELECT DISTINCT Launch_site FROM SPACEXTABLE')

# Fetch the results
results = cur.fetchall()

# Display the results
for row in results:
    print(row[0])

# Close the connection
connection.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [39]:
# Execute the SQL query for 5 records where launch sites begin with 'CCA'
cur.execute("SELECT * FROM SPACEXTABLE WHERE launch_site LIKE 'CCA%' LIMIT 5")

# Fetch the results
results = cur.fetchall()

# Display the results
for row in results:
    print(row)

# Close the connection
connection.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [65]:
# Execute the SQL query to get column headers
cur.execute("PRAGMA table_info(SPACEXTABLE)")

# Fetch all the results
columns_info = cur.fetchall()

# Display the column headers
column_headers = [column[1] for column in columns_info]
print(column_headers)

# Close the connection
connection.close()

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

In [74]:
# Execute the SQL query to display the total payload mass carried by NASA (CRS) boosters
cur.execute("SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)'")

# Fetch the result
total_payload_mass = cur.fetchone()[0]

# Display the result
print(f"Total payload mass carried by NASA (CRS) boosters: {total_payload_mass} kg")

# Close the connection
connection.close()

Total payload mass carried by NASA (CRS) boosters: 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [75]:
cur.execute("SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE  WHERE Customer = 'NASA (CRS)'")

# Fetch the result
avrg_payload_mass = cur.fetchone()[0]

# Display the result
print(f"Average payload mass carried by NASA (CRS) boosters: {avrg_payload_mass} kg")

# Close the connection
connection.close()

Average payload mass carried by NASA (CRS) boosters: 2279.8 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [76]:
cur.execute("SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (ground pad)'")

# Fetch the result
first_successful_landing_date = cur.fetchone()[0]

# Display the result
print(f"The date of the first successful landing on a ground pad: {first_successful_landing_date}")

The date of the first successful landing on a ground pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [77]:
# Execute the SQL query to get the names of boosters meeting the criteria
cur.execute("SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (drone ship)' AND Payload_Mass__KG_ > 4000 AND Payload_Mass__KG_ < 6000")

# Fetch all the results
boosters_names = cur.fetchall()

# Display the results
for booster_name in boosters_names:
    print(booster_name[0])

F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [78]:
cur.execute("SELECT COUNT(*) FROM SPACEXTABLE WHERE Mission_Outcome = 'Success'")
total_successful_outcomes = cur.fetchone()[0]

# Execute the SQL query to get the count of failure mission outcomes
cur.execute("SELECT COUNT(*) FROM SPACEXTABLE WHERE Mission_Outcome = 'Failure'")
total_failure_outcomes = cur.fetchone()[0]

# Display the results
print(f"Total Successful Mission Outcomes: {total_successful_outcomes}")
print(f"Total Failure Mission Outcomes: {total_failure_outcomes}")

Total Successful Mission Outcomes: 98
Total Failure Mission Outcomes: 0

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [79]:
# Execute the SQL query with a subquery to get the names of booster versions with the maximum payload mass
cur.execute("""
    SELECT Booster_Version
    FROM SPACEXTABLE
    WHERE Payload_Mass__KG_ = (SELECT MAX(Payload_Mass__KG_) FROM SPACEXTABLE)
""")

# Fetch all the results
max_payload_booster_versions = cur.fetchall()

# Display the results
for booster_version in max_payload_booster_versions:
    print(booster_version[0])

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [80]:
# Execute the SQL query to get the records for the specified conditions
cur.execute("""
    SELECT 
        substr(Date, 6, 2) AS Month,
        Landing_Outcome,
        Booster_Version,
        Launch_Site
    FROM SPACEXTABLE
    WHERE substr(Date, 0, 5) = '2015' AND Landing_Outcome = 'Failure (drone ship)'
""")

# Fetch all the results
records = cur.fetchall()

# Display the results
for record in records:
    print(record)

('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [81]:
# Execute the SQL query to get the ranked count of landing outcomes
cur.execute("""
    SELECT 
        Landing_Outcome,
        COUNT(*) AS OutcomeCount
    FROM SPACEXTABLE
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY OutcomeCount DESC
""")

# Fetch all the results
ranked_outcomes = cur.fetchall()

# Display the results
for rank, (landing_outcome, outcome_count) in enumerate(ranked_outcomes, start=1):
    print(f"Rank {rank}: {landing_outcome} - {outcome_count} times")

Rank 1: No attempt - 10 times
Rank 2: Success (drone ship) - 5 times
Rank 3: Failure (drone ship) - 5 times
Rank 4: Success (ground pad) - 3 times
Rank 5: Controlled (ocean) - 3 times
Rank 6: Uncontrolled (ocean) - 2 times
Rank 7: Failure (parachute) - 2 times
Rank 8: Precluded (drone ship) - 1 times

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>